
<h1>Toys Catalog</h1>

<div data-controller="refresh-list">

    <div class="category-btns">


        <div class="baby-btn">
         <%= link_to 'Baby toys', toys_path(:baby_scope => "baby") %>
        </div>

      <div class="toddler-btn">
        <%= link_to 'Toddler toys', toys_path(:toddler_scope => "toddler") %>
      </div>

      <div class="preschooler-btn">
        <%= link_to 'Pre-schooler toys', toys_path(:preschooler_scope => "preschool") %>
      </div>
    </div>

    <%= render "searchresult" %>

<div class="index-grid">
  <% @toys.each do |toy| %>
    <div class="toy-card" style="width:300px">
      <div class="container">
        <p><%= cl_image_tag toy.image.key, height: 200, width: 250, crop: :fill %></p>
        <h5><%= link_to toy.name, toy_path(toy) %></h5>
        <p><%= link_to "More details", toy %></p>
      </div>
      <%# <div class="button">
        <a href="#" class="button-label">Label</a>
      </div> %>
    </div>
  <% end %>
</div>
