<div class="page-container">
  <p id="notice"><%= notice %></p>
  <%= link_to "Back to the catalog", toys_path, class:"button-label" %>
  <div style="margin-top:40px;">
    <div class="cart-layout">
      <div style="margin-bottom:30px;">
        <div class="d-flex">
          <p><%= cl_image_tag @toy.image.key, style:"width:30vw;" %></p>
          <div class="card" style="flex-direction:row;margin-left:30px">
            <div class="toy-show-content">
              <div class="text-toy-show">
                <div class="button-label" style="width:fit-content;margin-bottom:30px">
                  <%= @toy.age_category %>
                </div>
                <h2><%= @toy.name %></h2>
                <p><%= @toy.description %></p>
              </div>
              <%= simple_form_for [ @toy, @booking ] do |f| %>
                <%= f.submit "Add to card", data: { confirm: 'Toy added to cart!' }, id: "cart-btn", class: 'button-pink btn-block', style:"text-align:center; border:none;", datatoggle:"modal" %>
              <% end %>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
      <div class="related_items">
      <p>Related toys:</p>
      <%= render 'card' %>
    </div>
  <div>
</div>

<% if @previous_booking %>
  <div class="card" style="margin-top:30px;">
    <div class="title-align-center">
      <h4>Reviews</h4>

    </div>
    <%= simple_form_for [@previous_booking, @review] do |f| %>
      <div class="form-inputs">
        <%= f.input :content %>
        <%= f.input :rating, as: :integer %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'button-pink btn-block', style:"text-align:center; border:none;" %>
      </div>
    <% end %>
  </div>
<% end %>


<% @toy.reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>
