<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toy.description %>
</p>

<p>
  <%= image_tag @toy.image %>
</p>

<%= simple_form_for [ @toy, @booking ] do |f| %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", toys_path %>
