<h2>Dashboard</h2>
  <div class="dash-cards">

   <div class="card 1">
    <h3>Your current Subscription expires on: <%= Date.today + 30 %></h3>
    <h3>Toys you're renting right now: </h3>
    <% @current_monthly_subscription.toys.each do |toy| %>
      <%= toy.name %>
    <% end %>
  </div>

    <div class="card 2">
      <h3>Toys you have rented in the past: </h3>
      <% @previous_subscriptions.each do |sub| %>
        <% sub.toys.each do |toy| %>
          <h4><%= sub.start_date %> - <%= sub.end_date %></h4>
        <% @previous_subscriptions.each do |sub| %>
        <%= toy.name  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<% booking = Booking.first %>

<%= simple_form_for [booking, Review.new] do |f| %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating, as: :integer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
