<h2>Dashboard</h2>
<a class="button-label" href="/toys">Back to the catalog</a>

  <div class="dash-cards">

   <div class="card 1">
    <h3>Subscription expires on: <%= Date.today + 30 %></h3>
    <br>
    <br>
    <h3>Toys you're renting right now: </h3>
    <% @current_monthly_subscription.toys.each do |toy| %>
      <%= toy.name %>
    <% end %>
    <br>
    <br>
  </div>

    <div class="card 2">
      <h3 id="heading2">Purchase history</h3>
      <% @previous_subscriptions.each do |sub| %>
        <% sub.toys.each do |toy| %>
          <h4 id="date"><%= sub.start_date %> - <%= sub.end_date %></h4>
        <% @previous_subscriptions.each do |sub| %>
        <%= toy.name  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<% booking = Booking.first %>

<%= simple_form_for [booking, Review.new] do |f| %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating, as: :integer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
